<%= form_for(@example) do |f| %>
  <% if @example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@example.errors.count, "error") %> prohibited this example from being saved:</h2>

      <ul>
      <% @example.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Plural Noun</strong><br>
    <%= f.text_field :nounOne %>
  </div>
  <div class="field">
    <strong>Plural Noun</strong><br>
    <%= f.text_field :nounTwo %>
  </div>
  <div class="field">
    <strong>Singular Noun</strong><br>
    <%= f.text_field :nounThree %>
  </div>
  <div class="field">
    <strong>Plural Noun</strong><br>
    <%= f.text_field :nounFour %>
  </div>
  <div class="field">
    <strong>Plural Verb (Present tense)</strong><br>
    <%= f.text_field :verbOne %>
  </div>
  <div class="field">
    <strong>Plural Verb (Present tense)</strong><br>
    <%= f.text_field :verbTwo %>
  </div>
  <div class="field">
    <strong>Infinitive Verb (the "to" is provided)</strong> <a href="#" data-toggle="modal" data-target="#myModal">What's that?</a><br>
    <%= f.text_field :verbThree %>
  </div>
  <div class="field">
    <strong>Infinitive Verb (the "to" is provided)</strong><br>
    <%= f.text_field :verbFour %>
  </div>
  <div class="field">
    <strong>Infinitive Verb (the "to" is provided)</strong><br>
    <%= f.text_field :verbFive %>
  </div>
  <div class="field">
    <strong>Adjective</strong><br>
    <%= f.text_field :adjectiveOne %>
  </div>
  <div class="field">
    <strong>Adjective</strong><br>
    <%= f.text_field :adjectiveTwo %>
  </div>
  <div class="field">
    <strong>Adjective</strong><br>
    <%= f.text_field :adjectiveThree %>
  </div>
  <div class="field">
    <strong>Adverb</strong><br>
    <%= f.text_field :adverbOne %>
  </div>
  <div class="field">
    <strong>Adverb</strong><br>
    <%= f.text_field :adverbTwo %>
  </div>
  <div class="field">
    <strong>Adverb</strong><br>
    <%= f.text_field :adverbThree %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
