<p id="notice"><%= notice %></p>

<p>
  <strong>Nounone:</strong>
  <%= @example.nounOne %>
</p>

<p>
  <strong>Nountwo:</strong>
  <%= @example.nounTwo %>
</p>

<p>
  <strong>Nounthree:</strong>
  <%= @example.nounThree %>
</p>

<p>
  <strong>Verbone:</strong>
  <%= @example.verbOne %>
</p>

<p>
  <strong>Verbtwo:</strong>
  <%= @example.verbTwo %>
</p>

<p>
  <strong>Verbthree:</strong>
  <%= @example.verbThree %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
