<p id="notice"><%= notice %></p>

<p>
  <strong>Nounone:</strong>
  <%#= @example.nounOne %>
</p>

<p>
  <strong>Nountwo:</strong>
  <%#= @example.nounTwo %>
</p>

<p>
  <strong>Nounthree:</strong>
  <%#= @example.nounThree %>
</p>

<p>
  <strong>Verbone:</strong>
  <%#= @example.verbOne %>
</p>

<p>
  <strong>Verbtwo:</strong>
  <%#= @example.verbTwo %>
</p>

<p>
  <strong>Verbthree:</strong>
  <%#= @example.verbThree %>
</p>


<h1 class="center">The Three Little Pigs</h1>

<p>Once upon a time, there were three <%= @example.adjectiveOne %> pigs. One day, their mother said, "You are all grown up and must <%= @example.verbOne %> on your own." So they left to <%= @example.verbTwo %> their houses.  The first little pig only wanted to work all day and quickly built his house out of <%= @example.nounOne %>.  The second little pig wanted to <%= @example.verbThree %> all day so he built his house with <%= @example.nounTwo %>. The third little pig knew that a wolf leved nearby and worked <%= @example.adverbOne %> to build his house out of <%= @example.nounFour %>. One day, the wolf knocked on the first pig's house and said, "Let me in or I'll <%= @example.verbFour %> your house down!" The pig didn't, so the wolf blew down the house. The wolf knocked on the second pig's <%= @example.nounThree %> and said, "Let me in or I'll <%= @example.verbFive %> your house down!" The pig didn't, so the wolf blew the house down. Finally, the wolf knocked <%= @example.adverbTwo %> on the third <%= @example.adjectiveTwo %> pig's door. He said, "Let me in or I'll blow your house down!" The pig didn't and the wolf huffed and puffed but could not blow the house down. The pigs went on to live <%= @example.adverbThree %> ever after.</p>

<h2 class="center">The End</h2>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
